/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrowSide {
  background-image: url(../img/sprite.png);
  background-position: -959px -397px;
  width: 10px;
  height: 10px;
}
.icon-btn_ic_brn_left {
  background-image: url(../img/sprite.png);
  background-position: -959px -341px;
  width: 12px;
  height: 10px;
  margin-bottom: -2px;
  margin-right: 18px;
}
.icon-btn_ic_brn_right {
  background-image: url(../img/sprite.png);
  background-position: -959px -383px;
  width: 12px;
  height: 10px;
  margin-bottom: -2px;
  margin-left: 13px;
}
.icon-btn_ic_gray_left {
  background-image: url(../img/sprite.png);
  background-position: -959px -369px;
  width: 12px;
  height: 10px;
  margin-bottom: -2px;
  margin-right: 18px;
}
.icon-btn_ic_gray_right {
  background-image: url(../img/sprite.png);
  background-position: -959px -355px;
  width: 12px;
  height: 10px;
  margin-bottom: -2px;
  margin-left: 13px;
}
.icon-button_bg_orange_left {
  background-image: url(../img/sprite.png);
  background-position: -551px -545px;
  width: 68px;
  height: 26px;
}
.icon-button_bg_orange_right-1 {
  background-image: url(../img/sprite.png);
  background-position: -327px -545px;
  width: 108px;
  height: 26px;
}
.icon-button_bg_orange_right {
  background-image: url(../img/sprite.png);
  background-position: -695px -545px;
  width: 68px;
  height: 26px;
}
.icon-button_bg_white_left {
  background-image: url(../img/sprite.png);
  background-position: -767px -545px;
  width: 68px;
  height: 26px;
}
.icon-button_bg_white_right-1 {
  background-image: url(../img/sprite.png);
  background-position: -439px -545px;
  width: 108px;
  height: 26px;
}
.icon-button_bg_white_right {
  background-image: url(../img/sprite.png);
  background-position: -623px -545px;
  width: 68px;
  height: 26px;
}
.icon-comp_plate_graybasic-blue {
  background-image: url(../img/sprite.png);
  background-position: -327px 0px;
  width: 323px;
  height: 337px;
}
.icon-comp_plate_graybasic-green {
  background-image: url(../img/sprite.png);
  background-position: -654px 0px;
  width: 323px;
  height: 337px;
}
.icon-comp_plate_graybasic_yellow {
  background-image: url(../img/sprite.png);
  background-position: 0px -341px;
  width: 323px;
  height: 337px;
}
.icon-comp_plate_graybasiс {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 323px;
  height: 337px;
}
.icon-comp_plate_promo1 {
  background-image: url(../img/sprite.png);
  background-position: -316px -682px;
  width: 312px;
  height: 200px;
}
.icon-comp_plate_promo2 {
  background-image: url(../img/sprite.png);
  background-position: -643px -341px;
  width: 312px;
  height: 200px;
}
.icon-comp_plate_promo3 {
  background-image: url(../img/sprite.png);
  background-position: -327px -341px;
  width: 312px;
  height: 200px;
}
.icon-comp_plate_promo4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -682px;
  width: 312px;
  height: 200px;
}
.icon-dottedHozLine {
  background-image: url(../img/sprite.png);
  background-position: -327px -575px;
  width: 274px;
  height: 1px;
}
