body {
    font-family: Arial, sans-serif;
}
.info-box {
    width: 317px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0 0 1px;
    position: relative;
}
.prod-img {
    display: inline-block;
}
.header, .show-hide-details, .find {
    color: #ee7600;
}
.note {
    display: none;
    color: #b2b2b2;
    margin: 10px 0 0 0 ;
    max-height: 15em;
    overflow: scroll;
}
.note, .show-hide-details, .descr {
    font-size: 10px;
}
.prev, .next, .find {
    cursor: pointer;
    font-weight: 600;
    font-size: 10px;
    height: 26px;
    line-height: 26px;
    border: none;
    border-radius: 7px;
    padding: 0;
    margin-top: 5px;
    outline: none;
    letter-spacing: 0.5px !important;
    position: absolute;
    bottom: 25px;
}
.next, .prev {
    width:68px;
    color: #a8a8a8;
}
.next {
    text-align: left;
    padding-left: 10px;
    margin-left: 80px;
}
.prev {
    margin-left: 10px;
    text-align: right;
    padding-right: 10px;
}
.find {
    width:108px;
    margin-left: 192px;
    text-align: left;
    padding-left: 8px;
}
.header {
    margin: 5px 0 3px 0;
    font-size: 18px;
    font-weight: 600;
}
.descr {
    margin: 0 0 3px 0;
    letter-spacing: 0.5px;
}
.excl-image {
    margin: 0 12px 15px 12px;
}
.descr {
    height: 2.4em;
    overflow: hidden;
}
.next:hover, .prev:hover, .find:hover {
    color: #fff;
}
.next:hover {
    background-position: -695px -545px;
}
.prev:hover {
    background-position: -551px -545px;
}
.find:hover {
    background-position: -327px -545px;
}
.show-hide-details:hover {
    color: #000;
}
.show-hide-details {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
span {
    display: inline-block;
    position: relative;
}
.left-arrow:hover {
    background-position: -959px -341px;
}
.right-arrow:hover {
    background-position: -959px -383px;
}
.in-div {
    margin: 0;
}
